@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
nav{
    width: 100%;
    height: 90px;
    border-bottom: solid white 1px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: end;
    
}

img{
    margin: 10px;
    position: absolute;
    left: 0%;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.ulnav{
    list-style: none;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    left: 5%;
    margin: 10px;
    padding-right: 32%;
    
    
}

a{
    text-decoration: none;
    color: white;
    margin: 80px;
    transition: ease-in-out 0.5s;

}

a:hover{
    text-decoration: none;
    color: rgb(76, 35, 255);
    margin: 80px;

}

.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.bichin1,.bichin2,.bichin3{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 280px;
    height: 280px;
    border: solid white 2px;
    margin: 40px;
    margin-top: 400px;
    border-radius: 5px;

}

.number{
    width: 220px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid white 1px;
    
}

.sectionrodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 236, 207);
    
}

.listarodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 247, 232);

}

.um,.dois,.tres{
    list-style: none;
    width: 25px;
    height: 25px;
    border: solid white 1px;
    border-radius: 100%;

}

.rodape{
    font-family: 'Montserrat', sans-serif;
    
}

.info01,.info02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17px;
    margin-right: 0px;
    padding: 20px;
    color: rgb(0, 0, 0);

}

.info02{
    margin: 17px;
    margin-left: 0px;
    padding: 20px;
    border: none;
    border-left: solid black 1px;
}

.textocard{

}